body {
  background-color: #f0f0f0;
}

.font-family-mukta {
  font-family: Mukta, sans-serif;
}

header {
  display: flex;
  align-items: center;
  background-color: #562b81;
  padding-left: 1rem;
}

nav {
  padding-left: 1.5rem;
}

.nav-item {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  letter-spacing: 0.1rem;
}

header > h2 {
  color: white;
  font-weight: 400;
  margin: 0.5rem 0;
}

form > h1 {
  letter-spacing: 0.1rem;
  font-size: 2rem;
  margin: 0;
}

img {
  border: 0 solid white;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 0.3rem 1.25rem;
}

label {
  font-family: Mukta, sans-serif;
  font-weight: bold;
  padding: 0.3rem 0;
  letter-spacing: 1px;
}

input {
  border: 1px solid gray;
  border-radius: 3px;
  padding: 0.6rem;
  font-family: sans-serif;
}

input:focus {
  border: 5px solid #562b81;
}

textarea {
  padding: 0.3rem;
  font-family: sans-serif;
  border: 1px solid gray;
  border-radius: 0.2rem;
}

textarea:focus {
  border: 5px solid #562b81;
}

.submit {
  display: flex;
  justify-content: flex-end;
  padding-top: 1.25rem;
}

button {
  background-color: #562b81;
  color: white;
  border: 0 solid white;
  border-radius: 3px;
  padding: 0.6rem 1.25rem;
}

ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0.3rem 1.25rem;
}

.entry-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.entry-header > a {
  margin-right: 1.25rem;
  padding: 0.6rem 1.375rem;
  border: 0 solid;
  border-radius: 3px;
  background-color: #562b81;
  color: white;
  text-decoration: none;
}

.entry-header > h2 {
  letter-spacing: 1px;
  font-size: 2.188rem;
  margin: 0;
  padding-left: 0.9rem;
}

.entry-photo > img {
  width: 100%;
  padding: 0.9rem;
  border: 0 solid;
  border-radius: 30px;
}

.column-2 {
  display: flex;
  flex-direction: column;
}

.data.hidden {
  display: none;
}

.no-entries {
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-entries.hidden {
  display: none;
}

@media screen and (min-width: 1000px) {
  header > h2 {
    margin-left: 26.25rem;
  }

  form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 31.25rem;
  }

  form > h1 {
    width: 100%;
  }

  form > img {
    width: 50%;
    padding-right: 1.25rem;
  }

  textarea {
    width: 100%;
  }

  .column-2 {
    flex-basis: 50%;
    padding-bottom: 1.563rem;
  }

  .submit {
    width: 100%;
  }

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 31.25rem;
  }

  .entries > h2 {
    font-size: 2.188rem;
    letter-spacing: 1px;
    margin: 0 31.25rem;
  }

  .entry-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.3rem;
  }

  .entry-photo > img {
    width: 100%;
    padding-right: 1.25rem;
    padding-bottom: 1.25rem;
  }

  h3 {
    font-size: 1.875rem;
    margin: 0;
  }

  p {
    font-size: 1.563rem;
  }

  .entry-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 0 31.25rem;
  }
}
