body {
  background-color: #f0f0f0;
}

.font-family-mukta {
  font-family: Mukta, sans-serif;
}

header {
  display: flex;
  align-items: center;
  background-color: #562b81;
  padding-left: 5%;
}

nav {
  padding-left: 20px;
}

.nav-item {
  color: white;
  font-size: 20px;
  text-decoration: none;
  letter-spacing: 1px;
}

header > h2 {
  color: white;
  font-weight: 100;
  margin: 5px 0;
}

form > h1 {
  letter-spacing: 1px;
  font-size: 35px;
  margin: 0;
}

img {
  border: 0 solid white;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 5px 20px;
}

label {
  font-family: Mukta, sans-serif;
  font-weight: bold;
  padding: 5px 0;
  letter-spacing: 1px;
}

input {
  border: 1px solid gray;
  border-radius: 3px;
  padding: 10px;
  font-family: sans-serif;
}

input:focus {
  border: 5px solid #562b81;
}

textarea {
  padding: 5px;
  font-family: sans-serif;
  border: 1px solid gray;
  border-radius: 3px;
}

textarea:focus {
  border: 5px solid #562b81;
}

.submit {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}

button {
  background-color: #562b81;
  color: white;
  border: 0 solid white;
  border-radius: 3px;
  padding: 10px 20px;
}

#entry-list {
  display: flex;
}

ul {
  list-style-type: none;
  padding: 5px 20px;
}

.entry-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.entry-header > a {
  margin-right: 20px;
  padding: 5px 22px;
  border: 0 solid;
  border-radius: 3px;
  background-color: #562b81;
  color: white;
  text-decoration: none;
}

.entry-header > h2 {
  letter-spacing: 1px;
  font-size: 35px;
  margin: 0;
  padding-left: 15px;
}

.entry-photo > img {
  width: 100%;
  padding: 15px;
  border: 0 solid;
  border-radius: 30px;
}

.column-2 {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1000px) {
  header > h2 {
    margin-left: 425px;
  }

  form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 500px;
    margin-right: 500px;
  }

  form > h1 {
    width: 100%;
  }

  form > img {
    width: 50%;
    padding-right: 20px;
  }

  textarea {
    width: 100%;
  }

  .column-2 {
    flex-basis: 50%;
    padding-bottom: 25px;
  }

  .submit {
    width: 100%;
  }

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 500px;
    margin-right: 500px;
  }

  .entries > h2 {
    font-size: 35px;
    letter-spacing: 1px;
    margin: 0;
    margin-left: 500px;
    margin-right: 500px;
  }

  .entry-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
  }

  .entry-photo > img {
    width: 100%;
    padding-right: 20px;
    padding-bottom: 20px;
  }

  h3 {
    font-size: 30px;
    margin: 0;
  }

  p {
    font-size: 25px;
  }

  .entry-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-right: 500px;
    margin-left: 500px;
  }
}
